.container-upload {
    .title-primary {
        font-weight: 400;
        font-size: 2em;
        font-family: inherit;
        color: #333;
        text-transform: uppercase;
    }

    .title-secon {
        font-weight: 400;
        font-size: 1.5em;
        font-family: inherit;
        color: #333;
        text-transform: uppercase;
    }



    p {
        color: #666666;
        margin-bottom: 0;
        font-size: 1.2rem;
    }

    textarea {
        border: 1px solid #6bad0d !important;
        border-radius: 5px;
        width: 100%;
    }

    input {
        border: 1px solid #6bad0d !important;
        border-radius: 5px;
        width: 100%;
    }

    .btn-upload-product {
        background-color: #6bad0d !important;
        color: #fff !important;
        border: none;
        border-radius: none;

        &:hover {
            background-color: #589108 !important;
            color: #fff !important;
        }
    }
}