.container-home {
    a {
        &:hover{
            cursor: pointer;
        }
    }
    .box-tk{
        background-color: #ffffff;
    }
    .box{
        height: 6rem;
        box-shadow: "0px 0px 3px 3px #999999";
        
    }
   
    .title-primary {
        font-weight: 400;
        font-size: 2em;
        font-family: inherit;
        color: #333;
        text-transform: uppercase;
    }

    a{
        text-decoration: none;
    }

    .btn-add {
        background-color: #ff4d00;
        color: #fff;

        &:hover {
            border: 1px solid #ff4d00 !important;
            color: #ff4d00 !important;
            background-color: #fff !important;
        }
    }

   

}