.container-doanhthu{
    p {
        color: #666666;
        margin-bottom: 0;
        font-size: 1.1rem;
    }
    .title-secon {
        font-weight: 400;
        font-size: 1.5em;
        font-family: inherit;
        color: #333;
        text-transform: uppercase;
    }
    .btn-thongke {
        background-color: #ff4d00;
        color: #fff;
        border: 1px solid #ff4d00 !important;
        border-radius: none;

        &:hover {
            border: 1px solid #ff4d00 !important;
            color: #ff4d00 !important;
        }
    }
}